OIDC_ADMIN_GROUP="cn=edu:berkeley:org:libr:geoserver:admins,ou=campus groups,dc=berkeley,dc=edu"
OIDC_CLIENT_ID=geoserver
OIDC_CLIENT_SECRET=some-secret-hash
OIDC_NAME="keycloak"
OIDC_USER_GROUP="cn=edu:berkeley:org:libr:geoserver:users,ou=campus groups,dc=berkeley,dc=edu"
OIDC_WELL_KNOWN="http://keycloak.localhost:8180/realms/berkeley-local/.well-known/openid-configuration"
